<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

    <div class="body-square">
        <h1 class="body-h1">ADMIN PAGE</h1>

         <div class="button-create">
            <a href="/admin-console/create-book">
              <button class="button-yellow" type="submit">ADD NEW COMIC</button>
            </a>
        </div>

        <table class="table-admin">
            <thead>
                <tr>
                    <th>COMIC TITLE</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
            </thead>

            <tbody>
                <% for (singleArray of booksArray) { %>
                    <tr>
                        <td><%= singleArray.title %></td>
                        <td><a href='/admin-console/update-book/<%= singleArray._id %>'><button class="button-edit" type="button">EDIT</button></a></td>
                        <td><a href="/admin-console/update-book/<%= singleArray._id %>"><button class="button-yellow" type="button">DELETE</button></a></td>
                    </tr>
                <% } %>

            </tbody>
        </table>
    </div>

<%- include('../partials/footer') -%>
