<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

    <div class="card">
        <div class="card-top">
            <h2 class="card-label"><%= inventoryItem.title %></h2>
            <img class="card-photo" src="<%= inventoryItem.image %>" alt="Cover of <%= inventoryItem.title %>"></a>
        </div>

        <div class="card-bottom">
            <p><span class="content-blut-underline-font">Title:</span> <span class="content-italic-font"><%= inventoryItem.title %></span></p>
            <p><span class="content-blut-underline-font">Author:</span> <%= inventoryItem.author %></p>
            <p><span class="content-blut-underline-font">Publisher:</span> <%= inventoryItem.publisher %></p>
            <p><span class="content-blut-underline-font">Genre:</span> <%= inventoryItem.genre %></p>
            <p><span class="content-blut-underline-font">Number of pages:</span> <%= inventoryItem.pages %></p>
            <p><span class="content-blut-underline-font">Rating:</span> <%= inventoryItem.rating %></p>
            <p><span class="content-blut-underline-font">Synonsis:</span> <%= inventoryItem.synopsis %></p>
            <p>One of the most influential graphic novels of all time and a perennial best-seller, <span class="content-italic-font"><%= inventoryItem.title %></span> has been studied on college campuses across the nation and is considered a gateway title, leading readers to other graphic novels such as <span class="content-italic-font">V for Vendetta. Batman: The Dark Knight Returns</span>, and <span class="content-italic-font">The Sandman series</span>.</p>
        </div>
    </div>

<%- include('../partials/footer') -%>
