<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

    <div class="card">
        <div class="card-top">
            <h2 class="card-label"><%= newBook.title %></h2>
            <img class="card-photo" src="<%= newBook.image %>" alt="Cover of <%= newBook.title %>"></a>
        </div>

        <div class="card-bottom">
            <p><span class="content-blut-underline-font">Title:</span> <span class="content-italic-font"><%= newBook.title %></span></p>
            <p><span class="content-blut-underline-font">Author:</span> <%= newBook.author %></p>
            <p><span class="content-blut-underline-font">Publisher:</span> <%= newBook.publisher %></p>
            <p><span class="content-blut-underline-font">Genre:</span> <%= newBook.genre %></p>
            <p><span class="content-blut-underline-font">Number of pages:</span> <%= newBook.pages %></p>
            <p><span class="content-blut-underline-font">Rating:</span> <%= newBook.rating %></p>
            <p><span class="content-blut-underline-font">Synopsis:</span> <%= newBook.synopsis %></p>
        </div>
    </div>

<%- include('../partials/footer') -%>
